---
import hero_bg from '../../../public/assets/hero.png';
---

<section class="mx-4 text-center sm:mx-6 lg:mx-8 py-16 sm:py-20 text-primary-950 flex flex-col items-center gap-8 rounded-3xl px-5 sm:gap-10"
style={`background-image: url(${hero_bg.src}); background-size: cover; background-position: center;`}

>
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Über uns</h1>
      <p class="text-primary-950 mx-auto max-w-xl text-lg sm:text-xl">
        Wir entwickeln sichere KI-Lösungen, die deine Aufgaben vereinfachen und die Produktivität steigern.
      </p>
    </div>
  </div>

</section>
