---
import cta_bg from '../../../public/assets/cta_bg.png';
---
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class=" flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
      style={`background-image: url(${cta_bg.src}); background-size: cover; background-position: center;`}
      >
      <div class=" text-primary-950 flex flex-col gap-4 sm:gap-6">
        <h2 class=" mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
          Lass uns gemeinsam etwas Großartiges schaffen.
        </h2>
        <p class=" mx-auto max-w-2xl text-lg">
          Schreib uns einfach und lass uns gemeinsam herausfinden, wie wir dich oder dein Business aufs nächste Level bringen können!
        </p>
      </div>
      <a
        href="/contact"
        class="bg-primary-950 dark:bg-primary-100 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Kontakt
      </a>
    </div>
  </div>
</section>
