
<section class="py-20 sm:py-24  dark:bg-gray-900">
  <div class="mx-auto max-w-7xl px-6 lg:px-8"  
  >
    <div class="flex flex-col items-center text-center gap-12">
      <div class="max-w-3xl">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl lg:text-6xl">
          Keine Lust auf Arbeit? <br>
          Lass es deinen KI-Agenten machen.
        </h1>
        <p class="mt-4 text-lg text-gray-600 dark:text-gray-300 sm:text-xl">
          Bei KarlGPT revolutionieren wir deinen Arbeitsalltag. Überlasse die Aufgaben deinem KI-Alter-Ego, steigere deine Produktivität und genieße mehr Freiheit.
        </p>
      </div>
      <a
        href="/pricing"
       class="bg-primary-950 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
        Loslegen
      </a>
    </div>
  </div>
</section>



